{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>fat cat's home</title>
	<link rel="stylesheet" href="{% static 'home/main.css' %}">
	<link rel="icon" href="{% static 'cwf/imgs/favicon.ico' %}">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>fat cat's home</h1>
			<p>welcome, {{ username }}</p>
		</div>
		<div class="options">
			<div class="option">
				<div class="optionImage">
					<image src="{% static 'home/imgs/catTracker.jpg' %}" alt="catimg" width="200" height="160"></image>
				</div>
				<form action="{% url 'tracker' %}" method="post">
					{% csrf_token %}
					<button type="submit" id="trackBTN" name="trackBTN">sesh tracker</button>
				</form>
			</div>

			<div class="option">
				<div class="optionImage">
					<image src="{% static 'home/imgs/catWeed.jpg' %}" alt="catimg" width="200" height="160"></image>
				</div>
				<form action="{% url 'cwf' %}" method="post">
					{% csrf_token %}
					<button type="submit" id="cwfBTN" name="cwfBTN">cheap weed finder</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
