{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>cheap weed finder</title>
	<link rel="stylesheet" type = "text/css" href="{% static 'cwf/main.css' %}" >
</head>
<body>
	<div class="header">
		<form method = "post" action = "{% url 'backBTN' %}">
			{% csrf_token %}
			<button type = "submit" id = "backBTN" name = "backBTN">back</button>
		</form>
	</div>

	<div class="container">
		<h1>cheap weed finder</h1>
		<div class = "output">
			<div id = "square">
				<div id = "maryj" class = "outbox">
					<div class = "storename"> MaryJ's </div>
					<div class = offers"> 
						<div id ""
					 </div>

				</div>
				<div id = "inspired" class = "outbox"> Inspired </div>
				<div id = "710" class = "outbox"> 710 </div>
				<div id = "giggles" class = "outbox"> Giggles </div>
			</div>
		</div>
		<div class = "controls">
			<div class = "storetext">
				<p>stores: </p>
			</div>
			<div class = "buttons">
				<button type = "button">MaryJ's</button>
				<button type = "button">Inspired</button>
				<button type = "button">710</button>
				<button type = "button">Giggles</button>
			</div>
			<div class = "search">
				<button type = "button" class = "searchBTN">search</button>
			</div>
		</div>
	</div>

	<div class="footer">
		<h1></h1>
	</div>
</body>
</html>
