/* This is the CSS file linked to your HTML document */

/* General styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #000000;
    color: #ffffff;

}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

title {
    font-family: Garamond, serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

input {
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    margin: 2px;
    padding: 5px;
}

input::placeholder {
    color: #ffffff9f;
}

input:focus {
    text-align: center;
    outline: none;
}

input:focus::placeholder {
    color: #ffffff00;
    outline: none;
}   

button {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    margin: 2px;
    padding: 5px;
}


p {
    font-weight: bold;
    outline: none;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding-top: 3px;
}

.storetext {
    vertical-align: top;
    padding-right: 2px;

}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2px;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#square {
    margin: 2px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.searchBTN {
    font-size: 2em;
}

.search {
    display: flex;
    align-items: center;
}

.outbox {
    border: 2px solid #ffffff;
    display: grid;
    grid-template-columns: (3, 1fr);
    justify-content: center;
    align-items: center;
    
}

.data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 5px;
}

.storename {
    text-align: center;
    display: inline-block;
    margin: 1px;
    margin-top: 3px;
}

.offer{
    width: 225px;
    height: 80px;
    margin: 5px;
    border: #ffffff 2px solid;
    text-align: center;
    padding: 4px; 
    overflow: auto;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

@media (max-width: 600px) {
    #square {
        grid-template-columns: 1fr;
    }
    .offer {
        margin: 0;
        border: #ffffff 1px solid;
    }
}

.offer::-webkit-scrollbar {
    width: 0ox;
    height: 0px;
}