/* This is the CSS file linked to your HTML document */

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    height: 100vh;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

title {
    font-family: Garamond, serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

input {
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    margin: 2px;
    padding: 5px;
}

input::placeholder {
    color: #ffffff9f;
}

input:focus {
    text-align: center;
    outline: none;
}

input:focus::placeholder {
    color: #ffffff00;
    outline: none;
}   

button {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    margin: 2px;
    padding: 5px;
}


p {
    font-weight: bold;
    text-align: center;
    outline: none;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}